:host {
  display: block;
}

.clear__button {
  display: block;
  margin-top: 20px;
  padding: 1.05em;

  width: 100%;

  color: rgb(255, 255, 255);
  font-size: 1.05rem;

  border: none;
  background: none;
  background-color: rgb(228, 91, 86);
  cursor: pointer;
}
