:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.products {
  display: flex;
  flex-flow: row;
}
.products__product {
  width: 60%;
  display: flex;
}
.products__product--snapshot {
  width: 30%;
  padding:1em 4em 1em 1em;
}
.snapshot__image {
  padding: 1em;
}
.snapshot__image img {
  display: block;
  width: 100%;
}
.snapshot__price {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding-bottom: 2.5em;
  text-align: center;
}
.snapshot__button {
  display: block;
  border: none;
  background: none;
  background-color:
rgb(228, 91, 86);
  width: 100%;
  padding: 1.05em;
  cursor: pointer;
  color:
rgb(255, 255, 255);
  font-size: 1.05rem;
}

.products__product--description {
  width: 50%;
  line-height: 1.95rem;
  font-size: 1.25rem;
}
.products__cart {
  width: 40%;
}


@media only screen and (max-width : 1100px) {
  .products {
    display: block;
  }

  .products__product,
  .products__cart {
    width: 100%;
  }
}


table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  background-color:
#f2f2f2;
}

th,
td {
  padding: 10px;
}

.products__cart--product {
  width: 40%;
  text-align: left;
}
.products__cart--detail {
  text-align: center;
  width: 15%;
}
.products__cart--detail-quantity {
  padding: 0 0.25em;
}

.cart__warning {
  color:
rgb(223, 52, 47);
  font-size: 0.85rem;
  font-weight: bold;
}
